body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 95%;
    align-self: center;
}

textarea {
    resize: none;
}